node_modules/
npm-debug.log
yarn-error.log

.env
.env.local
.env.development
.env.test
.env.production

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

logs/
*.log
*.tmp
*.pid

meetings/
*.mp3

dist/
build/
out/

jspm_packages/

.npm

.eslintcache

.node_repl_history

coverage/

.DS_Store

Thumbs.db